body{margin: 0; padding: 0;}

.blackbox{width: 100%; height: 25px; background: black;}
.greenbox{width: 100%; height: 25px; background: #3cd6a4;}

.titelhead{width: 75%; height: 10vh; background: linear-gradient(#3cd6a4, #ffffff); margin: auto;}
h2{color: black; text-align: center; margin-top: 20px;} h1{font-size: 0; margin-top: 10px;}
h1:before{content: "March"; font-size: 45px; color: orange;} h1:after{content: "Wheather"; font-size: 35px; color: black;}
.link:hover{background: #10b26d;}

.content{width: 80vw; height: 150vh; border: 4px solid; background: #10b26d; margin: auto; margin-top: 3vh;}
.dataBox{width: 80%; height: 10vh; border: 1px solid; margin: auto; margin-top: 20px;}

.wheaterBox{width: 100%; height: 120vh; border: 1px solid; margin: auto; margin-top: 75px; margin-bottom: 20px;}
